<% room_size = @hash['room_size'].to_i %>

<div id="seer-skill-panal">
  <%=form_for Skill.new, url: {action: :skill, controller: :messages}, method: :post, remote: true, authenticity_token: true do |f|%>
    <!-- =============================================================== -->
    <!-- TODO: Update id="seer-kill-info" in jQuery when receive message -->
    <!-- =============================================================== -->
    <label class="form-check-label skill-info-label" id="seer-check-info">
    此处显示验证结果
    </label>
    <label class="form-check-label name-label">
    选择查验目标 <%= f.select :seer_check, (1..room_size).to_a %>
    </label>
    <br>
    <%= f.hidden_field :caster, value: :seer %>
    <%= f.hidden_field :chatroom_id, value: chatroom.id %>
    <%= f.hidden_field :message_id, value: message.id %>
    <%= f.hidden_field :user_name, value: user.username %>
    <%= f.submit '验证', class: "btn btn-info", id: 'seer-skill-btn'%>
  <%end%>
  <%=form_for Skill.new, url: {action: :skill, controller: :messages}, method: :post, remote: true, authenticity_token: true do |f|%>
    <%= f.hidden_field :caster, value: :seer %>
    <%= f.hidden_field :chatroom_id, value: chatroom.id %>
    <%= f.hidden_field :message_id, value: message.id %>
    <%= f.hidden_field :user_name, value: user.username %>
    <%= f.submit '结束', class: "btn btn-info", id: 'seer-skill-btn'%>
  <%end%>
</div>


<div id="witch-skill-panal" class="form-check form-check-inline">
    <!-- =============================================================== -->
    <!-- TODO: Update id="witch-kill-info" in jQuery when receive message -->
    <!-- =============================================================== -->
  <%=form_for Skill.new, url: {action: :skill, controller: :messages}, method: :post, remote: true, authenticity_token: true do |f|%>
    <label class="form-check-label skill-info-label" id="witch-kill-info">
    昨夜无人死亡 是否救人
    </label><%= f.select :witch_save, ['not save','save']%>
    <label class="form-check-label name-label">
    选择毒杀目标<%= f.select :witch_kill, ['not kill']+(1..room_size).to_a %>
    </label>
    <br>
    <%= f.hidden_field :caster, value: :witch %>
    <%= f.hidden_field :chatroom_id, value: chatroom.id %>
    <%= f.hidden_field :message_id, value: message.id %>
    <%= f.hidden_field :user_name, value: user.username %>
    <%= f.submit '确认', class: "btn btn-info", id: 'witch-skill-btn'%>
  <%end%>
</div>

<div id="wolf-skill-panal" class="form-check form-check-inline">
  <%=form_for Skill.new, url: {action: :skill, controller: :messages}, method: :post, remote: true, authenticity_token: true do |f|%>
    <label class="form-check-label name-label">
    选择猎杀目标 <%= f.select :wolf_kill, ['not kill']+(1..room_size).to_a %>
    </label>
    <br>
    <%= f.hidden_field :caster, value: :wolf %>
    <%= f.hidden_field :chatroom_id, value: chatroom.id %>
    <%= f.hidden_field :message_id, value: message.id %>
    <%= f.hidden_field :user_name, value: user.username %>
    <%= f.submit '确认猎杀', class: "btn btn-info", id: 'wolf-skill-btn'%>
  <%end%>
</div>

<div id="defender-skill-panal" class="form-check form-check-inline">
  <%=form_for Skill.new, url: {action: :skill, controller: :messages}, method: :post, remote: true, authenticity_token: true do |f|%>
    <label class="form-check-label name-label">
    选择守卫目标 <%= f.select :defender_guard, ['not guard']+(1..room_size).to_a %>
    </label>
    <br>
    <%= f.hidden_field :caster, value: :defender %>
    <%= f.hidden_field :chatroom_id, value: chatroom.id %>
    <%= f.hidden_field :message_id, value: message.id %>
    <%= f.hidden_field :user_name, value: user.username %>
    <%= f.submit '确认守护', class: "btn btn-info", id: 'defender-skill-btn'%>
  <%end%>
</div>

<div id="hunter-skill-panal" class="form-check form-check-inline">
  <!-- =============================================================== -->
  <!-- TODO: Update id="witch-kill-info" in jQuery when receive message -->
  <!-- =============================================================== -->
  <label class="form-check-label skill-info-label" id="hunter-check-info">
    显示可否使用技能
  </label>
</div>

<div id="no-skill-panal" class="form-check form-check-inline">
  <label class="form-check-label">
    没啥可做的~关了吧！
  </label>
</div>