<div class="seat-box">
<% disabled = @gameStarted ? 'disabled' : '' %>
<%
if seat.user == 'EMPTY_SEAT_USER'
  seat_btn_class = 'btn-success'
elsif seat.user == @current_user.username
  seat_btn_class = 'btn-warning'
else
  seat_btn_class = 'btn-outline-success-luwu'
end
%>

<label id="seat-label-<%=seat.number%>" class="seat-label">
    <% if seat.user == 'EMPTY_SEAT_USER' %>空<%else%><%=seat.user%><%end%>
    <% if @debugMode %>
    <% if seat.role == 'EMPTY_ROLE' %>(无身份)<%else%>(<%=seat.role%>)<%end%>
    <% end %>
</label>
<%=form_for seat, url: {action: :sit, controller: :messages}, method: :post, remote: true, authenticity_token: true do |f|%>
  <%= f.hidden_field :seat_number, value: seat.number %>
  <%= f.hidden_field :seat_user, value: seat.user %>
  <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
  <%= f.hidden_field :message_id, value: @display_message.last.id %>
  <%= f.submit "#{seat.number}", class: "btn #{seat_btn_class} seat-btn-position #{disabled}", id: "seat-#{seat.number}", data: {send: "sit"}, disabled: disabled=='disabled' %>
<%end%>
</div>