<div class="seat-box">

<label id="seat-label-<%=seat.number%>" class="seat-label">
<% if seat.user == 'EMPTY_SEAT_USER' %>空<%else%><%=seat.user%><%end%>
<% if false %>
<% if seat.role == 'EMPTY_ROLE' %>(无身份)<%else%>(<%=seat.role%>)<%end%>
<% end %>
</label>
<%=form_for seat, url: {action: :sit, controller: :messages}, method: :post, remote: true, authenticity_token: true do |f|%>
  <%= f.hidden_field :seat_number, value: seat.number %>
  <%= f.hidden_field :seat_user, value: seat.user %>
  <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
  <%= f.hidden_field :message_id, value: @display_message.last.id %>
  <% if seat.user == 'EMPTY_SEAT_USER' %>
  <%= f.submit "#{seat.number}", class: "btn btn-success seat-btn", id: "seat-#{seat.number}", data: {send: "sit"}%>
  <%else%>
  <%= f.submit "#{seat.number}", class: "btn btn-secondary seat-btn", id: "seat-#{seat.number}", data: {send: "sit"}%>
  <%end%>
<%end%>
</div>