<div class="data-div" type=hidden>
  <%= render partial: 'messages/message_data', locals: {current_message: @display_message, this_user: @current_user}%>
</div>

<div id="game-error">
</div>


<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.topic %> </h1> <h3><%= link_to '删除房间', chatroom_path(@chatroom), method: :delete, data: { confirm: 'Are you sure?' }%></h3>
  <div class="container-fluild">
    <%= render partial: 'seats/seat', collection: @seats%>
  </div>

  <div class="panel panel-default" id="info-panel">
    <% if @chatroom_message.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @chatroom_message%>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <%end%>
  </div>


  <% if false %>
    <div>
      <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
    </div>
    <div>
      <%= render partial: 'messages/edit_message_form', locals: {message: @display_message, chatroom: @chatroom}%>
    </div>
  <% end %>
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
              <%= render partial: 'messages/shuffle' %>
  <button type="button" id="useskill" class="btn btn-primary" onclick="useskill()">使用技能</button>
  <button type="button" id="lastnightinfo" class="btn btn-primary" onclick="lastnightinfo()">昨夜信息</button>
  <button type="button" id="identity" class="btn btn-primary" onclick="identity()">身份配置</button>

        </div>
    </div>
</footer>

</div>